<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<!-- Member랑 비교할거야! -->
	<resultMap type="Member" id="memberMap">
		<id property="id" column="id"/>
		<result property="pwd" column="password"/>
		<result property="name" column="name"/>
		<result property="addr" column="address"/>
	</resultMap>
	
	<!-- Member의 필드값을 values에 기입해야함! -->
	<insert id="registerMember" parameterType="Member">
		INSERT INTO member(id, password, name, address)
		VALUES(#{id}, #{pwd}, #{name}, #{addr})
	</insert>
	
	<select id="showAllMember" resultMap="memberMap">
		SELECT id, password, name, address 
		FROM member
	</select>
	
	<select id="findMember" resultMap="memberMap" parameterType="String">
		SELECT id, name, address
		FROM member

		<where>
			<if test="keyword != null">
				id like '%' || #{keyword} || '%'
				OR name like '%' || #{keyword} || '%'
				OR address like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>

	<select id="login" parameterType="Member" resultMap="memberMap">
		SELECT id, password, name, address
		FROM member
		WHERE id=#{id} AND password=#{pwd}
	</select>
	
	<update id="updateMember" parameterType="Member">
		UPDATE member
		SET password=#{pwd}, name=#{name}, address=#{addr}
		WHERE id = #{id}
	</update>
	
	
</mapper>