<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

<!-- useGeneratedKeys 런 할때마다 하나씩 추가 됨. keyProperty 가 no -->
	<insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
		INSERT INTO board (no, title, content, writer, url)
		VALUES(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer}, #{url})
	</insert>
	
	<select id="selectAll" resultType="Board" >
	<!-- SQL문 < 등호등을 사용하려면 아래의 문구처럼 해주기! -->
	
		<![CDATA[
		SELECT NUM, NO, TITLE, WRITER, REGDATE
			FROM (
			    SELECT /*+ INDEX_DESC(board PK_BOARD) */
			    ROWNUM NUM, NO, TITLE, WRITER, REGDATE
			    FROM board
			    WHERE ROWNUM <= #{page} * #{amount}
			)
		WHERE NUM > (#{page} - 1) * #{amount}
		]]>
</select>

	<!-- 총갯수 db에서 가져오려고  -->
	<select id="getTotal" resultType="int">
		SELECT count(*) FROM board
	</select>

	<!--  가져오는 키가 int라서 int 작성 -->
	<select id="select" parameterType="int" resultType="Board">
		SELECT *
		FROM board
		WHERE no = #{no}
	</select>
	
	<update id="update" parameterType="Board">
		UPDATE board
		SET title = #{title}, content=#{content}, url=#{url}
		WHERE no = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM board
		WHERE no = #{no}
	</delete>
		
</mapper>